@page
@model Moment1Razor.Pages.RazorModel
@{
	ViewData["Title"] = "Razor";
}

<h1>Razor</h1>

@{
    DateTime now = DateTime.Now;

    string daytoday = "";


    if (now.DayOfWeek == DayOfWeek.Monday)
    {
        daytoday = "måndag!";
    }
    else
    {
        daytoday = "inte måndag!";
    }
}

<p>Idag är det @daytoday</p>

<h4>Datum/klockslag: @(now)</h4>


<h4>Kurser jag läst:</h4>

@{
    List<string> kurser = new List<string>();
    kurser.Add("DT057G, Webbutveckling I");
    kurser.Add("DT084G, Introduktion till programmering i JavaScript");
    kurser.Add("DT200G, Grafisk teknik för webb");
    kurser.Add("DT068G, Webbanvändbarhet");
    kurser.Add("DT003G, Databaser");
    kurser.Add("DT093G, Webbutveckling II");
    kurser.Add("DT197G, Webbdesign för CMS");
    kurser.Add("DT173G, Webbutveckling III");
    kurser.Add("IK060G, Projektledning");
    kurser.Add("DT193G, Fullstack-utveckling med ramverk");
    kurser.Add("DT162G, JavaScript-baserad webbutveckling");
    kurser.Add("DT071G, Programmering i C#.NET");
}

<ul>
    @{
        foreach (string kurs in kurser)
        {
            <li>@kurs</li>
        }
    }
</ul>

<button onclick="topFunction()" id="myBtn" title="Go to top">Tillbaka till toppen</button>

@section Scripts
    {
    <script>

        $('#linkRazor').removeClass('notactive');
        $('#linkRazor').addClass('active');
    </script>
}